@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Admin Panel</title>

    <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet" />
</head>

<body id="page-top">

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Admin" asp-action="Dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-car"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Arac Panel</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" asp-action="Dashboard" asp-controller="Admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">Yönetim</div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Cars" asp-action="Index">
                    <i class="fas fa-car"></i>
                    <span>Araçlar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Brands" asp-action="Index">
                    <i class="fas fa-warehouse"></i>
                    <span>Markalar</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End Sidebar -->
        <!-- Content -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @User.Identity.Name
                                </span>
                                <img class="img-profile rounded-circle"
                                     src="~/admin/img/undraw_profile.svg">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                                    Çıkış Yap
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End Topbar -->

                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>

    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/js/sb-admin-2.min.js"></script>
</body>
</html>
