
html, body {
    height: 100%;
    overflow: hidden;
}


.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: 'Segoe UI', sans-serif;
}
.glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 2.5rem;
    width: 450px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    text-align: center;
    transition: transform .3s ease, box-shadow .3s ease;
}
    .glass-card:hover {
        transform: translateY(-10px) translateX(10px); 
        box-shadow: 0 16px 45px rgba(0,0,0,0.55);
        backdrop-filter: blur(16px);
    }

.login-title {
    color: #00f5ff;
    text-shadow: 0 0 8px #00f5ff;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.input-group {
    margin-bottom: 1.2rem;
    position: relative;
    text-align: left;
}

    .input-group label {
        color: #fff;
        font-size: 14px;
    }

.input-field {
    width: 100%;
    padding: 0.4rem 1rem;
    border-radius: 12px;
    border: 1px solid rgba(0,245,255,0.3);
    background: rgba(255,255,255,0.05);
    color: #fff;
}

    .input-field:focus {
        border-color: #00f5ff;
        box-shadow: 0 0 8px #00f5ff;
    }

.toggle-password {
    position: absolute;
    right: 12px;
    cursor: pointer;
    color: #00f5ff;
}

.register-page .toggle-password {
    top: 9px;
}

.login-page-only .toggle-password {
    top: 36px;
}

.text-danger {
    font-size: 12px;
    margin-top: 4px;
    display: block;
    color: #ff3860;
}

.strength-bar {
    height: 5px;
    border-radius: 4px;
    margin-top: 8px;
}

.password-info {
    display: none;
    font-size: 12px;
}

.btn-glass {
    width: 100%;
    padding: 0.6rem;
    border-radius: 999px;
    background: rgba(0,245,255,0.15);
    color: #00f5ff;
    font-weight: 600;
    border: none;
}

    .btn-glass:hover {
        background: rgba(0,245,255,0.3);
        color: #fff;
    }

@keyframes shake {
    0%,100% {
        transform: translateX(0);
    }

    25%,75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.3s;
}
@media (max-width: 480px) {
    .glass-card {
        width: 90%;
        padding: 2rem 1.5rem;
    }
}
